@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
    overflow: clip;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    height: 100%;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 6px;
}
